In [1]:
import pandas as pd

file_path = r"C:\Users\Coditas\Desktop\Projects\Cauti\silver\bronze_missing_values_handled.csv"

df = pd.read_csv(file_path)
df.head()

,subject_id,hadm_id,admittime,dischtime,gender,anchor_age,admission_type,admission_location,discharge_location,race,...,age_group,nitrite_tested,nitrite_positive,blood_crp_measured,cfu_count_measured,urine_output_measured,catheter_duration_measured,catheter_size_known,catheter_size_fr,catheter_size_measured
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,F,52,URGENT,TRANSFER FROM HOSPITAL,HOME,WHITE,...,middle_age,1,0,0,0,0,0,0,NaN,0
1,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,F,52,EW EMER.,EMERGENCY ROOM,HOME,WHITE,...,middle_age,0,0,0,0,0,0,0,NaN,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,F,52,EW EMER.,EMERGENCY ROOM,HOSPICE,WHITE,...,middle_age,0,0,0,0,0,0,0,NaN,0
3,10000560,28979390,2189-10-15 10:30:00,2189-10-17 15:00:00,F,53,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME,WHITE,...,middle_age,0,0,0,0,0,0,1,6.0,1
4,10000690,25860671,2150-11-02 18:02:00,2150-11-12 13:45:00,F,86,EW EMER.,EMERGENCY ROOM,REHAB,WHITE,...,elderly,1,0,0,0,0,0,0,NaN,0

In [2]:
bool_cols = df.select_dtypes(include=["bool"]).columns.tolist()

print("Boolean columns:")
print(bool_cols)

Boolean columns:
['catheter_present', 'diabetes', 'cancer', 'chronic_kidney_disease', 'neurogenic_bladder', 'recurrent_uti', 'spinal_cord_injury', 'neurological_disorder', 'benign_prostatic_hyperplasia', 'surgical_admission', 'recent_urologic_abdominal_surgery', 'icu_admission', 'urinary_obstruction_present', 'improper_drainage_position', 'catheter_insertion', 'catheter_removal', 'catheter_removal_replacement', 'multiple_invasive_devices', 'catheter_indication', 'catheter_care', 'closed_system', 'securement_device', 'antibiotics_per_admission', 'recent_antibiotic_use', 'steroids_per_admission', 'immunosuppressives_per_admission', 'ppi_per_admission', 'procalcitonin_measured', 'oliguria', 'urine_culture_performed', 'gram_negative_organisms_present', 'gram_positive_organisms_present', 'fungi_present', 'blood_culture_performed', 'other_uti_present', 'has_cauti_history', 'pain_documented', 'ventilator_used']

In [3]:
# ------------------------------
# 3. Encode all binary columns: True→1, False→0
# ------------------------------
df[bool_cols] = df[bool_cols].astype(int)

In [4]:
output_path = r"C:\Users\Coditas\Desktop\Projects\Cauti\silver\bronze_binary_encoded.csv"

df.to_csv(output_path, index=False)

print("Saved successfully to:", output_path)

Saved successfully to: C:\Users\Coditas\Desktop\Projects\Cauti\silver\bronze_binary_encoded.csv